.actions {
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10000;
  gap: 8px;
}

.teamNavigator {
  position: fixed;
  top: 16px;
  right: 24px;
  display: flex;
  z-index: 10000;
  gap: 8px;

  .teamLabel {
    padding: 12px;
    cursor: pointer;
    background: #ffffff;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 40px rgb(0 0 0 / 10%);
  }
}

.controlBtn {
  cursor: pointer;
  background: #ffffff;
  border: none;
  border-radius: 12px;
  width: 48px;
  height: 48px;
  box-shadow: 0 0 40px rgb(0 0 0 / 10%);
}