.users {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;

  &.hierarchical {
    margin-bottom: 0 !important;
  }

  &.s {
    margin-bottom: 8px;
  }

  &.m {
    margin-bottom: 16px;
    flex-wrap: wrap;
  }

  &.l {
    flex-wrap: wrap;
    margin: 0 auto 24px;
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #ffffff;
}
