.chartWrapper {
  display: flex;
  height: 100%;
  gap: 16px;
  align-items: start;
}

.wrapperClass {
  width: 100% !important;
  height: 100% !important;
}
.contentClass {
  display: flex;
  flex-direction: column;
}

.leaderShip {
  margin-bottom: 16px;
  display: flex;
  align-self: center;
  padding: 16px 64px;
}

.controlBtn {
  cursor: pointer;
  margin-left: 12px;
  background: #fff;
  border: 1px solid #eee;
  padding: 4px 8px;
  border-radius: 12px;
}