.groupWrapper {
  border-radius: 12px;
  padding: 12px;
  transition: ease-in 200ms;
  will-change: height;
  width: 100%;

  &:last-child:nth-child(2n + 1) {
    grid-column: 1 / 3;
    place-self: center;
    width: 50%;
  }

  &.gray {
    background: #f7f7f7;
  }

  &.white {
    background: #ffffff;
  }

  h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: #202020;
    margin: 0 0 4px 0;
    text-align: center;
  }
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groupsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
}
