.groupWrapper {
  border-radius: 12px;
  padding: 12px;
  transition: ease-in 200ms;
  will-change: height;

  &.gray {
    background: #F7F7F7;
  }

  &.white {
    background: #FFFFFF;
  }

  h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: #202020;
    margin: 0 0 4px 0;
    text-align: center;
  }
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groupsWrapper {
  display: flex;
  gap: 16px;
}