.avatar {
  width: 80px;
  padding: 8px;
  border-radius: 12px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: ease-in 300ms;

  &.m {
    background: #FFFFFF;
  }

  &.l {
    background: #FFFFFF;
  }

  &:last-child {
    margin-right: 0;
  }

  img {
    width: 100%;
    border-radius: 100%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  text-align: center;
  transition: ease-in 500ms;

  .userName {
    font-weight: 700;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #202020;
  }

  .role {
    padding: 2px 4px;
    align-self: center;
    background: #23C634;
    border-radius: 52px;
    margin-top: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
  }
}