.avatar {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  transition: 100ms linear;

  &.l {
    width: 64px;
    height: 64px;
  }

  &:last-child {
    margin-right: 0;
  }

  img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
  }
}