.avatar {
  width: 24px;
  height: 24px;

  &.l {
    padding: 8px;
    background: #FFFFFF;
    border-radius: 12px;
    text-align: center;
    width: 80px;
    height: 120px;
    box-sizing: border-box;

  }

  &:last-child {
    margin-right: 0;
  }

  img {
    width: 100%;
    border-radius: 100%;
  }
}

.info {
  margin-top: 8px;
  text-align: left;

  .userName {
    font-weight: 700;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #202020;
  }

  .role {
    margin-top: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #8F8F8F;
  }
}